@{
    ViewBag.Title = "Donate Items";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<script src="~/Scripts/lib/angular/angular.js"></script>
<script src="~/Scripts/app/app.js"></script>
<script src="~/Scripts/app/DonateController.js"></script>


<div ng-app="app">
    <div ng-controller="Donate.Controller">
        <p>{{greetingText}}</p>
    </div>
</div>
