@{
    ViewBag.Title = "Donate Money";
}
<h2>@ViewBag.Title.</h2>
The following links are some of the ways that you can
<ul>
    <li><a href="http://gogetfunding.com/provide-shelters-to-migrants-in-calais/">Funding for shelters</a></li>
    <li><a href="https://crowdfunding.justgiving.com/CalAid">CalAid</a></li>
    <li><a href="https://www.indiegogo.com/projects/calais-refugee-support#/story">Calais Refugee Support</a></li>
</ul>

If you know of other ways to donate then <a href="mailto:contact@refugeeaidmap.com?subject=Donation site">let us know</a> :-)