@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>RefugeeAidMap.com</h1>
    <p class="lead">Refugee Aid Map is currently under construction.</p>
    <p>Our aim is to enable you to easily get involved with helping refugees. Check back soon...</p>
</div>
<div class="row">
        <div class="col-md-3">
        <h2>Donate money</h2>
        Find out ways that you can <a asp-route="@RouteNames.DonateMoney">donate money</a>, or buy items from wishlists
    </div>
    <div class="col-md-3">
        <h2>Find where to donate items</h2>
        Under construction - check back soon!
    </div>
    <div class="col-md-3">
        <h2>Register a collection point</h2>
        Are you collecting/distributing donations? Soon you'll be able to make sure people can find you!
    </div>
    <div class="col-md-3">
        <h2>Get Involved</h2>
        Change happens through individuals. Find out more about how you can help to <a asp-route="@RouteNames.GetInvolved">make a difference</a>!
    </div>
</div>
