@{
    ViewBag.Title = "Get Involved";
}
<h2>@ViewBag.Title.</h2>
<h3>Campaign</h3>
<ul>
    <li></li>
</ul>

<h3>Offer accomodation</h3>
If you feel that you can offer some space to children or families then check out the following links:
<ul>
    <li><a href="http://www.homeforgood.org.uk/respond/">Home for Good</a>. Offer to take children as emergency, short-term or long-term</li>
</ul>